---
layout: default
---

<div class="home">
  <header class="post-header">
    <h1 class="post-title">Eventos Pasados</h1>
  </header>

  {% for event in site.events %}
    <article class="event">

      <span class="post-meta">{{ event.event_date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a href="{{ event.url }}">
          {{ event.title }}
        </a>
      </h2>
      {%- if event.image -%}
        <a href="{{ event.url }}">
          <img src="/assets/{{ event.image }}" class="img-responsive">
        </a>
      {%- endif -%}

      <p>{{ event.description | markdownify }}</p>
    </article>
  {% endfor %}
</div>
